@font-face {
    font-family: "delius";
    src: url(./source/fonts/Delius_Unicase/DeliusUnicase-Regular.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 25%;
    font-family: 'delius';
    align-items: center;
    background: radial-gradient(circle, rgb(81, 170, 22), rgb(96, 204, 102), rgb(5, 139, 50), green);
}

section {
    position: relative;
    display: flex;
    flex: 1;
    width: 100%;
    padding: 25px;
    background-image:
        linear-gradient(to bottom, rgba(255, 255, 0, 0.5), rgba(0, 0, 255, 0.5)),
        url(./source/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    gap: 30%;
}

.menu {
    position: absolute;
    width: 150px;
    background-color: bisque;
    border-right-width: 2px;
    border-right-color: black;
    border-right-style: solid;
    height: 100%;
    left: 0;
}

.menu h4 {
    padding: 10px;
}

.routs-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 3px;
}

a:hover {
    transform: scale(1.1);
    border-right: 3px solid black;
    background-color: bisque;
}

a {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    text-decoration: none;
    color: black;
    gap: 3px;
}

table,
.formulario {
    width: 500px;
    background-color: blanchedalmond;
    border-collapse: collapse;
    border: 1px solid black;
    box-shadow: 2px 2px 1px black,
        4px 4px 2px rgb(43, 43, 43),
        8px 8px 2px grey;
}

.formulario {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input,
select {
    padding: 10px;
}

span {
    margin-left: 3px;
}

h3 {
    text-transform: uppercase;
}

.encabezado-tabla {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 20px;
    margin: 10px;
    background-color: antiquewhite;
    border-radius: 10px 0px 10px 0px;
    border: 1px solid black;
    box-shadow: 2px 2px 1px black,
        4px 4px 1px rgb(105, 109, 104);
}

.ordenar {
    height: 12px;
    
    span {
        font-size: 12px;
    }
    ;
    select {
        padding: 2px;

    }
    ;
    button{
        padding: 2px;
    };
}

td,
th {
    border: 1px solid black;
    padding: 10px;
}

th {
    text-decoration: underline;
}

footer {
    width: 100%;
    padding: 30px;
    background: linear-gradient(rgb(94, 160, 94) 70%, rgb(4, 85, 4));
}

hr {
    width: 100%;
}

.log-out {
    padding: 10px;
    border-radius: 50%;
    background-color: antiquewhite;
    border: 1px solid black;
    cursor: pointer;
}

button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;

}


.log-out:hover {
    background-color: rgb(177, 152, 121);
}